.homepage {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color: white;
  }
  
  .homepage h1 {
    font-size: 42px;
    margin-bottom: 10px;
  }
  
  .homepage p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .homepage button {
    font-size: 20px;
    padding: 12px 20px;
    background: var(--accent-color);
  }
  
  .homepage button:hover {
    background: #e63946;
  }
  