.job-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  
  .job-list .job-card {
    width: 100%;
  }
  
  .container {
    padding: 30px;
    max-width: 1100px;
    margin: 0 auto;
  }
  